<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <h1>Welcome Adriana!</h1>
    <h2>Here you can study and test your knowledge on "irregular verbs"</h2>
    <h2>Press "STUDY" to show the irregular verbs or "TEST" to start a test</h2>
    <div id="form-container">
        <form id="study_form" action="{{ url_for('study_session') }}" method="post">
            <button>STUDY</button>
        </form>
        <form id="test_form" action="{{ url_for('start_test_session') }}" method="get">
            <button>TEST</button>
        </form>
    </div>
    
        
        


</body>
</html>