<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>

    <link rel="stylesheet" href="static/css/study.css">
</head>
<body>

    <table id="verbs-table">
        <tr class="table-header">
            <td class="present-simple">Present simple</td>
            <td class="past-simple">Past simple</td>
            <td class="past-participle">Past participle</td>
            <td class="italiano">Italiano</td>
        </tr>
    {% for index, row in verbs_df.iterrows(): %}
        <tr>
            <td class="present-simple verbs"> {{ row.BaseForm }} </td>
            <td class="past-simple verbs"> {{ row.PastSimple }} </td>
            <td class="past-participle verbs"> {{ row.PastParticiple }} </td>
            <td class="italiano verbs"> {{ row.Translation }} </td>
        </tr>
    {% endfor %}
        

    </table>
</body>
</html>